<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!--for step counter and step detector-->
    <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION"/>

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Sensors"
        tools:targetApi="33">
        <activity
            android:name=".AboutActivity"
            android:exported="false"
            android:label="@string/screen_about" />

        <activity
            android:name=".raw.motion.AccelerometerDetailsActivity"
            android:exported="false"
            android:label="@string/title_accelerometer">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".RawDataActivity" />
        </activity>
        <activity
            android:name=".raw.motion.AccelerometerUncalibratedDetailsActivity"
            android:exported="false"
            android:label="@string/title_accelerometer_uncalibrated">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".RawDataActivity" />
        </activity>
        <activity
            android:name=".raw.motion.GravityDetailsActivity"
            android:exported="false"
            android:label="@string/title_gravity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".RawDataActivity" />
        </activity>
        <activity
            android:name=".raw.motion.GyroscopeDetailsActivity"
            android:exported="false"
            android:label="@string/title_gyroscope">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".RawDataActivity" />
        </activity>
        <activity
            android:name=".raw.motion.GyroscopeUncalibratedDetailsActivity"
            android:exported="false"
            android:label="@string/title_gyroscope_uncalibrated">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".RawDataActivity" />
        </activity>
        <activity
            android:name=".raw.motion.LinearAccelerationDetailsActivity"
            android:exported="false"
            android:label="@string/title_linear_acceleration">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".RawDataActivity" />
        </activity>
        <activity
            android:name=".raw.motion.RotationVectorDetailsActivity"
            android:exported="false"
            android:label="@string/title_rotation_vector">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".RawDataActivity" />
        </activity>
        <activity
            android:name=".raw.motion.SignificantMotionsDetailsActivity"
            android:exported="false"
            android:label="@string/title_significant_motions">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".RawDataActivity" />
        </activity>
        <activity
            android:name=".raw.motion.StepDetectorDetailsActivity"
            android:exported="false"
            android:label="@string/title_step_detector">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".RawDataActivity" />
        </activity>
        <activity
            android:name=".raw.motion.StepCounterDetailsActivity"
            android:exported="false"
            android:label="@string/title_step_counter">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".RawDataActivity" />
        </activity>
        <activity
            android:name=".raw.position.GameRotationVectorDetailsActivity"
            android:exported="false"
            android:label="@string/title_game_rotation_vector">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".RawDataActivity" />
        </activity>
        <activity
            android:name=".raw.position.GeomagneticRotationVectorDetailsActivity"
            android:exported="false"
            android:label="@string/title_geomagnetic_rotation_vector">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".RawDataActivity" />
        </activity>
        <activity
            android:name=".raw.position.MagneticFieldDetailsActivity"
            android:exported="false"
            android:label="@string/title_magnetic_field">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".RawDataActivity" />
        </activity>
        <activity
            android:name=".raw.position.MagneticFieldUncalibratedDetailsActivity"
            android:exported="false"
            android:label="@string/title_magnetic_field_uncalibrated">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".RawDataActivity" />
        </activity>
        <activity
            android:name=".raw.position.OrientationDetailsActivity"
            android:exported="false"
            android:label="@string/title_orientation">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".RawDataActivity" />
        </activity>
        <activity
            android:name=".raw.position.ProximityDetailsActivity"
            android:exported="false"
            android:label="@string/title_proximity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".RawDataActivity" />
        </activity>
        <activity
            android:name=".raw.environment.AmbientTemperatureDetailsActivity"
            android:exported="false"
            android:label="@string/title_ambient_temperature">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".RawDataActivity" />
        </activity>
        <activity
            android:name=".raw.environment.TemperatureDetailsActivity"
            android:exported="false"
            android:label="@string/title_temperature">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".RawDataActivity" />
        </activity>
        <activity
            android:name=".raw.environment.LightDetailsActivity"
            android:exported="false"
            android:label="@string/title_light">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".RawDataActivity" />
        </activity>
        <activity
            android:name=".raw.environment.PressureDetailsActivity"
            android:exported="false"
            android:label="@string/title_pressure">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".RawDataActivity" />
        </activity>
        <activity
            android:name=".raw.environment.RelativeHumidityDetailsActivity"
            android:exported="false"
            android:label="@string/title_relative_humidity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".RawDataActivity" />
        </activity>
        <activity
            android:name=".RawDataActivity"
            android:exported="false"
            android:label="@string/screen_raw_data_title">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HomeActivity" />
        </activity>
        <activity
            android:name=".altitude.AltitudeActivity"
            android:exported="false"
            android:label="@string/screen_altitude_title">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HomeActivity" />
        </activity>
        <activity
            android:name=".orientation.DeviceOrientationActivity"
            android:exported="false"
            android:label="@string/screen_orientation_title">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HomeActivity" />
        </activity>
        <activity
            android:name=".HomeActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>