<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Sensors"
        tools:targetApi="33">
        <activity
            android:name=".AboutActivity"
            android:exported="false"
            android:label="@string/screen_about" />

        <activity
            android:name=".raw.motion.AccelerometerDetailsActivity"
            android:exported="false"
            android:label="@string/screen_accelerometer_details">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".RawDataActivity" />
        </activity>
        <activity
            android:name=".raw.motion.AccelerometerUncalibratedDetailsActivity"
            android:exported="false"
            android:label="@string/screen_accelerometer_uncalibrated_details">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".RawDataActivity" />
        </activity>
        <activity
            android:name=".raw.motion.GravityDetailsActivity"
            android:exported="false"
            android:label="@string/screen_gravity_details">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".RawDataActivity" />
        </activity>
        <activity
            android:name=".raw.position.ProximityDetailsActivity"
            android:exported="false"
            android:label="@string/screen_proximity_details">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".RawDataActivity" />
        </activity>
        <activity
            android:name=".raw.environment.AmbientTemperatureDetailsActivity"
            android:exported="false"
            android:label="@string/screen_ambient_temperature_details">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".RawDataActivity" />
        </activity>
        <activity
            android:name=".raw.environment.LightDetailsActivity"
            android:exported="false"
            android:label="@string/screen_light_details">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".RawDataActivity" />
        </activity>
        <activity
            android:name=".raw.environment.PressureDetailsActivity"
            android:exported="false"
            android:label="@string/screen_pressure_details">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".RawDataActivity" />
        </activity>
        <activity
            android:name=".raw.environment.RelativeHumidityDetailsActivity"
            android:exported="false"
            android:label="@string/screen_relative_humidity_details">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".RawDataActivity" />
        </activity>
        <activity
            android:name=".RawDataActivity"
            android:exported="false"
            android:label="@string/screen_raw_data_title">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HomeActivity" />
        </activity>
        <activity
            android:name=".HomeActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>